## Preprocessing

In [2]:
#target countries: {spain, usa, china, south Africa, comoros, yemen}
# country and year are selected 
# fish is the label: area predictions are summed together
# this would be a dataframe -> turned into a csv and sent to enne

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, RobustScaler, KBinsDiscretizer
from sklearn.compose import TransformedTargetRegressor
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
initial_df = pd.read_json("captured_marine_fish.json")
initial_df.head()

,COUNTRY_NAME,COUNTRY_CONTINENT,COUNTRY_ECONOMIC_CLASS,COUNTRY_GEOGRAPHIC_REGION,SPECIES_SCIENTIFIC_NAME,SPECIES_ISSCAAP_GROUP,SPECIES_CPC_GROUP,AREA_CODE,AREA_NAME,AREA_OCEAN_GROUP,PERIOD,VALUE,MEASURE_NAME,MEASURE_UNIT,STATUS_NAME
0,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,1995,33.0,Tonnes - live weight,t,OFFICICAL
1,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,1996,40.0,Tonnes - live weight,t,OFFICICAL
2,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,1997,0.0,Tonnes - live weight,t,OFFICICAL
3,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,1998,0.0,Tonnes - live weight,t,OFFICICAL
4,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,1999,0.0,Tonnes - live weight,t,OFFICICAL

In [3]:
#make area code string for future traintest split
initial_df["AREA_CODE"] = initial_df["AREA_CODE"].astype(str)

In [4]:
# have user select a country input("Please Select a Country")
# set to China for testing
selected_country = "Spain"
#input later but for the sake of testing: "Tunas, bonitos, billfishes"
#selected_fish = "Tunas, bonitos, billfishes"

In [5]:
user_df = initial_df[initial_df['COUNTRY_NAME'] == selected_country]
#user_df = user_df[user_df["SPECIES_ISSCAAP_GROUP"] == selected_fish]
user_df

,COUNTRY_NAME,COUNTRY_CONTINENT,COUNTRY_ECONOMIC_CLASS,COUNTRY_GEOGRAPHIC_REGION,SPECIES_SCIENTIFIC_NAME,SPECIES_ISSCAAP_GROUP,SPECIES_CPC_GROUP,AREA_CODE,AREA_NAME,AREA_OCEAN_GROUP,PERIOD,VALUE,MEASURE_NAME,MEASURE_UNIT,STATUS_NAME
556963,Spain,Europe,Developed countries or areas,Southern Europe,Acanthocybium solandri,"Tunas, bonitos, billfishes","Fish live, fresh or chilled for human consumption",31,"Atlantic, Western Central",Atlantic Ocean and adjacent seas,1950,0.00,Tonnes - live weight,t,OFFICICAL
556964,Spain,Europe,Developed countries or areas,Southern Europe,Acanthocybium solandri,"Tunas, bonitos, billfishes","Fish live, fresh or chilled for human consumption",47,"Atlantic, Southeast",Atlantic Ocean and adjacent seas,1950,0.00,Tonnes - live weight,t,OFFICICAL
556965,Spain,Europe,Developed countries or areas,Southern Europe,Acanthocybium solandri,"Tunas, bonitos, billfishes","Fish live, fresh or chilled for human consumption",41,"Atlantic, Southwest",Atlantic Ocean and adjacent seas,1950,0.00,Tonnes - live weight,t,OFFICICAL
556966,Spain,Europe,Developed countries or areas,Southern Europe,Acanthocybium solandri,"Tunas, bonitos, billfishes","Fish live, fresh or chilled for human consumption",57,"Indian Ocean, Eastern",Indian Ocean,1950,0.00,Tonnes - live weight,t,OFFICICAL
556967,Spain,Europe,Developed countries or areas,Southern Europe,Acanthocybium solandri,"Tunas, bonitos, billfishes","Fish live, fresh or chilled for human consumption",81,"Pacific, Southwest",Pacific Ocean,1950,0.00,Tonnes - live weight,t,OFFICICAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601898,Spain,Europe,Developed countries or areas,Southern Europe,Zeus faber,Miscellaneous demersal fishes,"Fish live, fresh or chilled for human consumption",47,"Atlantic, Southeast",Atlantic Ocean and adjacent seas,2018,525.00,Tonnes - live weight,t,OFFICICAL
601899,Spain,Europe,Developed countries or areas,Southern Europe,Zeus faber,Miscellaneous demersal fishes,"Fish live, fresh or chilled for human consumption",27,"Atlantic, Northeast",Atlantic Ocean and adjacent seas,2019,265.43,Tonnes - live weight,t,OFFICICAL
601900,Spain,Europe,Developed countries or areas,Southern Europe,Zeus faber,Miscellaneous demersal fishes,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,2019,85.10,Tonnes - live weight,t,OFFICICAL
601901,Spain,Europe,Developed countries or areas,Southern Europe,Zeus faber,Miscellaneous demersal fishes,"Fish live, fresh or chilled for human consumption",34,"Atlantic, Eastern Central",Atlantic Ocean and adjacent seas,2019,162.39,Tonnes - live weight,t,OFFICICAL
601902,Spain,Europe,Developed countries or areas,Southern Europe,Zeus faber,Miscellaneous demersal fishes,"Fish live, fresh or chilled for human consumption",47,"Atlantic, Southeast",Atlantic Ocean and adjacent seas,2019,261.89,Tonnes - live weight,t,OFFICICAL

In [6]:
# drop country name for now; deal with filter later 
# drop scientific name for now; make exact later
processing_df = user_df.drop(["COUNTRY_NAME","COUNTRY_GEOGRAPHIC_REGION","COUNTRY_CONTINENT","SPECIES_SCIENTIFIC_NAME","SPECIES_CPC_GROUP","MEASURE_NAME","AREA_NAME","AREA_OCEAN_GROUP","MEASURE_UNIT"], axis=1)
processing_df.head()
# pca 
# feature importance

,COUNTRY_ECONOMIC_CLASS,SPECIES_ISSCAAP_GROUP,AREA_CODE,PERIOD,VALUE,STATUS_NAME
556963,Developed countries or areas,"Tunas, bonitos, billfishes",31,1950,0.0,OFFICICAL
556964,Developed countries or areas,"Tunas, bonitos, billfishes",47,1950,0.0,OFFICICAL
556965,Developed countries or areas,"Tunas, bonitos, billfishes",41,1950,0.0,OFFICICAL
556966,Developed countries or areas,"Tunas, bonitos, billfishes",57,1950,0.0,OFFICICAL
556967,Developed countries or areas,"Tunas, bonitos, billfishes",81,1950,0.0,OFFICICAL

In [7]:
new_df = processing_df[processing_df['STATUS_NAME'] != 'NEGLIBILE']
next_df = new_df.drop(["STATUS_NAME"], axis=1)
final_df = next_df[next_df['VALUE'] != 0.0]
final_df.head()

,COUNTRY_ECONOMIC_CLASS,SPECIES_ISSCAAP_GROUP,AREA_CODE,PERIOD,VALUE
557169,Developed countries or areas,"Tunas, bonitos, billfishes",34,1985,4.0
557176,Developed countries or areas,"Tunas, bonitos, billfishes",34,1986,9.0
557183,Developed countries or areas,"Tunas, bonitos, billfishes",34,1987,9.0
557190,Developed countries or areas,"Tunas, bonitos, billfishes",34,1988,32.0
557197,Developed countries or areas,"Tunas, bonitos, billfishes",34,1989,18.0

In [8]:
to_test = pd.get_dummies(final_df)
X = to_test.drop(['VALUE','COUNTRY_ECONOMIC_CLASS_Developed countries or areas','SPECIES_ISSCAAP_GROUP_Marine fishes not identified'], axis=1)
y = to_test['VALUE']
X.columns

Index(['PERIOD', 'SPECIES_ISSCAAP_GROUP_Cods, hakes, haddocks',
       'SPECIES_ISSCAAP_GROUP_Flounders, halibuts, soles',
       'SPECIES_ISSCAAP_GROUP_Herrings, sardines, anchovies',
       'SPECIES_ISSCAAP_GROUP_Miscellaneous coastal fishes',
       'SPECIES_ISSCAAP_GROUP_Miscellaneous demersal fishes',
       'SPECIES_ISSCAAP_GROUP_Miscellaneous pelagic fishes',
       'SPECIES_ISSCAAP_GROUP_River eels',
       'SPECIES_ISSCAAP_GROUP_Salmons, trouts, smelts',
       'SPECIES_ISSCAAP_GROUP_Shads',
       'SPECIES_ISSCAAP_GROUP_Sharks, rays, chimaeras',
       'SPECIES_ISSCAAP_GROUP_Sturgeons, paddlefishes',
       'SPECIES_ISSCAAP_GROUP_Tunas, bonitos, billfishes', 'AREA_CODE_21',
       'AREA_CODE_27', 'AREA_CODE_31', 'AREA_CODE_34', 'AREA_CODE_37',
       'AREA_CODE_41', 'AREA_CODE_47', 'AREA_CODE_48', 'AREA_CODE_51',
       'AREA_CODE_57', 'AREA_CODE_58', 'AREA_CODE_61', 'AREA_CODE_67',
       'AREA_CODE_71', 'AREA_CODE_77', 'AREA_CODE_81', 'AREA_CODE_87',
       'AREA_CODE_88'],
      dtype='object')

In [9]:
import numpy as np
#uniform All bins in each feature have identical widths.; ordinal ensures they're returned as floats or ints
trans = KBinsDiscretizer(n_bins=20, encode='ordinal', strategy='uniform')
reshape = y.array.reshape(-1,1)
#reshape = [y].reshape(-1,1)
data = trans.fit_transform(reshape)
dataset = pd.DataFrame(data)
# histograms of the variables
new_y = np.ravel(data)
new_y

array([0., 0., 0., ..., 0., 0., 0.])

In [10]:
edges = trans.bin_edges_[0]
bins = []
for i in edges: 
    bins.append(i)
bins

[0.001,
 16459.00095,
 32918.0009,
 49377.000850000004,
 65836.00080000001,
 82295.00075,
 98754.00070000002,
 115213.00065000002,
 131672.0006,
 148131.00055,
 164590.0005,
 181049.00045,
 197508.00040000002,
 213967.00035000002,
 230426.0003,
 246885.00025,
 263344.0002,
 279803.00015000004,
 296262.0001,
 312721.00005000003,
 329180.0]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, new_y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')
training_score = clf.score(X_train_scaled, y_train)
testing_score = clf.score(X_test_scaled, y_test)

Training Score: 0.9541451563923474
Testing Score: 0.9364609428376224

In [13]:
#organize into  
prediction_years = [2020,2030,2040,2050]
full_text = X.columns
species_list = []
area_list = []

for i in full_text:
    if 'SPECIES' in i:
        holder1 = i.split('_')
        species_list.append(holder1[3])
    if 'AREA' in i:
        holder2 = i.split('_')
        area_list.append(holder2[2])

num_species = len(species_list) 
num_areas = len(area_list)
prediction_fish = [0] * num_species
prediction_ocean = [0] * num_areas

In [14]:
prediction_values = {}
for i in prediction_years:
    prediction_values[i] = {}
    
    for j, index in enumerate(prediction_fish):
        key_name = species_list[j]
        prediction_fish[j] = 1
        prediction_values[i][key_name] = {}

        for k, index in enumerate(prediction_ocean):
            next_key_name = area_list[k]
            prediction_ocean[k] = 1
            full_list = [i] + prediction_fish + prediction_ocean
            prediction_values[i][key_name][next_key_name] = clf.predict([full_list])
            #reset
            prediction_ocean[k] = 0

        #reset
        prediction_fish[j] = 0

In [15]:
#convert dictionary into something more readable for csv purposes

dict_df = pd.DataFrame.from_dict({(i,j,k): prediction_values[i][j] 
                           for i in prediction_values.keys() 
                           for j in prediction_values[i].keys()},
                       orient='index')
#reset index will convert them into columns
fish_df = dict_df.reset_index()
fish_df

,level_0,level_1,level_2,21,27,31,34,37,41,47,...,51,57,58,61,67,71,77,81,87,88
0,2020,"Cods, hakes, haddocks",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
1,2020,"Flounders, halibuts, soles",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
2,2020,"Herrings, sardines, anchovies",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
3,2020,Miscellaneous coastal fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
4,2020,Miscellaneous demersal fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
5,2020,Miscellaneous pelagic fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
6,2020,River eels,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
7,2020,"Salmons, trouts, smelts",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
8,2020,Shads,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
9,2020,"Sharks, rays, chimaeras",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
10,2020,"Sturgeons, paddlefishes",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
11,2020,"Tunas, bonitos, billfishes",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
12,2030,"Cods, hakes, haddocks",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
13,2030,"Flounders, halibuts, soles",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
14,2030,"Herrings, sardines, anchovies",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
15,2030,Miscellaneous coastal fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
16,2030,Miscellaneous demersal fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
17,2030,Miscellaneous pelagic fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
18,2030,River eels,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
19,2030,"Salmons, trouts, smelts",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
20,2030,Shads,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
21,2030,"Sharks, rays, chimaeras",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
22,2030,"Sturgeons, paddlefishes",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
23,2030,"Tunas, bonitos, billfishes",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
24,2040,"Cods, hakes, haddocks",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
25,2040,"Flounders, halibuts, soles",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
26,2040,"Herrings, sardines, anchovies",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
27,2040,Miscellaneous coastal fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
28,2040,Miscellaneous demersal fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
29,2040,Miscellaneous pelagic fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
30,2040,River eels,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
31,2040,"Salmons, trouts, smelts",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
32,2040,Shads,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
33,2040,"Sharks, rays, chimaeras",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
34,2040,"Sturgeons, paddlefishes",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
35,2040,"Tunas, bonitos, billfishes",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
36,2050,"Cods, hakes, haddocks",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
37,2050,"Flounders, halibuts, soles",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
38,2050,"Herrings, sardines, anchovies",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
39,2050,Miscellaneous coastal fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
40,2050,Miscellaneous demersal fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
41,2050,Miscellaneous pelagic fishes,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
42,2050,River eels,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
43,2050,"Salmons, trouts, smelts",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
44,2050,Shads,17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
45,2050,"Sharks, rays, chimaeras",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
46,2050,"Sturgeons, paddlefishes",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
47,2050,"Tunas, bonitos, billfishes",17,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]

In [16]:
fish_df2 = fish_df.rename(columns={'level_0': 'Year', 'level_1': 'Fish Species'})
fish_df2 = fish_df2.drop(['level_2'], axis = 1)
for column in fish_df2:
    if column != 'Year' and column != 'Fish Species':
        fish_df2[column] = fish_df2[column].astype(int)
        
fish_df2.head()

,Year,Fish Species,21,27,31,34,37,41,47,48,51,57,58,61,67,71,77,81,87,88
0,2020,"Cods, hakes, haddocks",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2020,"Flounders, halibuts, soles",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2020,"Herrings, sardines, anchovies",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2020,Miscellaneous coastal fishes,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2020,Miscellaneous demersal fishes,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [17]:
labels = []

for i, index in enumerate(bins):
    if i != len(bins) - 1:
        str_holder = str(index) + " to " + str(bins[i+1])
        labels.append(str_holder)

In [18]:
area_indcies = np.arange(2, len(fish_df2.columns))
est_sum = 0
new_col = []
for row in fish_df2.iterrows():
    for i in area_indcies:
        est_sum += row[1][i]
        #est_sum += row[1][area_indcies[i]]
    for j, index in enumerate(labels):
        if j == est_sum:
           new_col.append(index)
    #reset
    est_sum = 0

#sums
fish_df2["Estimated Range of Fish Caught"] = new_col
fish_df2.head()

,Year,Fish Species,21,27,31,34,37,41,47,48,...,57,58,61,67,71,77,81,87,88,Estimated Range of Fish Caught
0,2020,"Cods, hakes, haddocks",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 16459.00095
1,2020,"Flounders, halibuts, soles",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 16459.00095
2,2020,"Herrings, sardines, anchovies",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 16459.00095
3,2020,Miscellaneous coastal fishes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 16459.00095
4,2020,Miscellaneous demersal fishes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 16459.00095

In [19]:
#export to json if it's fine
#import json 

#class NumpyEncoder(json.JSONEncoder):
#    """ Special json encoder for numpy types """
#    def default(self, obj):
#        if isinstance(obj, np.integer):
#            return int(obj)
#        elif isinstance(obj, np.floating):
#            return float(obj)
#        elif isinstance(obj, np.ndarray):
#            return obj.tolist()
#        return json.JSONEncoder.default(self, obj)
#path = "china_prediction.json"
#dumped = json.dumps(prediction_values, cls=NumpyEncoder)

#with open(path, 'w') as f:
#    json.dump(dumped, f)

#file_name = selected_country + "_prediction.json"
#with open(file_name, 'r') as f:
#  data = json.load(f)

#print(data)

Notes: 
1) Selecting by country is by far the way to go because there's such a difference between them. Trying to force it through all of them and creating a global estimate isn't feasible.
2) Further narrowing it down by fish species drastically lowered accuracy but could be a feature we look to add? 
3) need to have the user fill out a number of other things (species and area name) 
4) might be able to fill it out? or restrict it depending on country. or setting defaults perhaps?